/* Custom fonts */
.ql-font-times-new-roman {
    font-family: "Times New Roman", serif;
}

.ql-font-arial {
    font-family: "Arial", sans-serif;
}

.ql-font-courier-new {
    font-family: "Courier New", monospace;
}

/* Add more fonts as needed */

/* Flexbox layout */
body {
    display: flex;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    flex-grow: 1;
    padding: 20px;
    overflow-x: auto;
    max-width: 76%;
}

#editor {
    height: 600px;
    max-height: 600px;
}

aside {
    width: 24%;
    /* min-width: 100px; */
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f8f9fa;
    /* padding: 20px; */
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.selected {
    background-color: lightblue;
}

.resize-col {
    cursor: col-resize;
}

.resize-row {
    cursor: row-resize;
}

.btn-group.btn-block {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-group.btn-block .btn {
    flex: 1;
    /* Each button takes up equal space */
    margin-right: 5px;
    /* Small gap between buttons */
}

.btn-group.btn-block .btn:last-child {
    margin-right: 0;
    /* Remove margin on the last button */
}

/* Styles for the toggle button */
.custom-toggle {
    background-color: #f7f7f7;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, max-height 0.3s ease;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Aligns text to the left */
    gap: 10px;
    /* Adds space between the indicator and the text */
}

/* Hover effect for the toggle button */
.custom-toggle:hover {
    background-color: #e2e2e2;
}

/* Active state for the toggle button */
.custom-toggle.active {
    background-color: #d0d0d0;
}

/* Styles for the indicator (chevron) */
.custom-toggle .indicator {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
    /* Initial position pointing right */
}

/* Rotate indicator when the section is active */
.custom-toggle.active .indicator {
    transform: rotate(90deg);
    /* Rotate to point downwards when active */
}

/* Styles for the collapsible content */
.collapsible-content {
    /* padding: 10px; */
    border-radius: 5px;
    /* margin-bottom: 10px; */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    max-height: 0;
    /* overflow: hidden; */
    transition: height 0.3s ease;
    max-height: 0px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid currentColor;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.75s linear infinite;
    margin-right: 5px;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 8px;
    z-index: 1001;
}

.popup-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;

}
